<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block title %}{% endblock %}</title>
    <!-- General CSS Files -->

    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">

    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/logo.svg' %}" />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                                <i data-feather="align-justify"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    {% block navbars %}{% endblock %}
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                            class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image"
                                src="{% static 'assets/img/user.jpg' %}" class="user-img-radious-style"> <span
                                class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">{{ user.matricule }} {{ user.first_name }} {{ user.last_name }}
                            </div>
                            <a href="profile.html" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
                            </a>
                            <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger"> <i
                                    class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="{% url 'home' %}"> <img alt="image" src="{% static 'assets/img/logo.png' %}"
                                class="header-logo" /> <span class="logo-name">T3MRD2</span></a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">NOUVELLE</li>
                        <li {% if request.path == '#' %} class="active" {% endif %}><a class="nav-link" href="#"
                                data-toggle="modal" data-target="#newSession"><i
                                    data-feather="clipboard"></i><span>Nouvelle session</span></a></li>
                        <li class="menu-header">REPERTOIRE</li>
                        <li class="dropdown {% if '/home' in request.path or '/session' in request.path %}active{% endif %}">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="slack"></i><span>Session</span></a>
                            <ul class="dropdown-menu">
                                <li {% if request.path == '/home' %}class="active"{% endif %}>
                                    <a class="nav-link" href="{% url 'home' %}">
                                        <span>Liste</span>
                                    </a>
                                </li>
                                {% for item in sessions %}
                                    <li {% if session.uid == item.uid %}class="active"{% endif %}>
                                        <a class="nav-link" href="{% url 'session' uid=item.uid %}">
                                            <span>{{ item.name|slice:":16" }}{% if item.name|length > 16 %}...{% endif %}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li {% if request.path == "/sector" %} class="active" {% endif %}><a class="nav-link"
                            href="{% url 'sector' %}"><i data-feather="code"></i><span>Filiere</span></a>
                        </li>
                        <li {% if request.path == "/level" %} class="active" {% endif %}><a class="nav-link"
                            href="{% url 'level' %}"><i data-feather="trending-up"></i><span>Niveau</span></a>
                        </li>
                        <li {% if request.path == "/teacher" %} class="active" {% endif %}><a class="nav-link"
                            href="{% url 'teacher' %}"><i data-feather="user"></i><span>Enseignant</span></a>
                        </li>
                        <li {% if request.path == "/student" %} class="active" {% endif %}><a class="nav-link"
                            href="{% url 'student' %}"><i data-feather="award"></i><span>Etudiant</span></a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        {% if messages %}
                        <div>
                            {% for message in messages %}
                            <div
                                class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible show fade">
                                <div class="alert-body">
                                    <button class="close" data-dismiss="alert">
                                        <span>&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% block template %}
                        {% endblock %}
                    </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="#">Donald</a></a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <div class="modal fade" id="newSession" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouvelle session</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Votre application/templates/create_session.html -->
                    <form method="POST" action="{% url 'create_session' %}" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Nom de la session</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Année</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="year" name="year" min="1900" step="1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sector">Filiere</label>
                            <div class="input-group">
                                <select class="form-control" id="sector" name="sector_id" required>
                                    {% for item in sectors %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="level">Niveau</label>
                            <div class="input-group">
                                <select class="form-control" id="level" name="level_id" required>
                                    {% for item in levels %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="max_groupe">Nombre maximal de membres par groupe</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="max_groupe" name="max_groupe" required>
                            </div>
                        </div>                
                        <button type="submit" class="btn btn-primary btn-block">Créer</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    {% block modal %}
    {% endblock %}
    <!-- General JS Scripts -->
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/bundles/sweetalert/sweetalert.min.js' %}"></script>

    <script src="{% static 'assets/js/page/sweetalert.js' %}"></script>
    <script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/datatables.js' %}"></script>
        <!-- Template JS File -->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script>
        var anneeInput = document.getElementById('year');
        var dateActuelle = new Date();
        var anneeMax = dateActuelle.getFullYear();
        anneeInput.max = anneeMax;
        anneeInput.value = anneeMax;
      </script>
    {% block script %}
    {% endblock %}
</body>

</html>