{% extends "base.html" %}

{% block title %} Gestion de projet {% endblock %}

{% block style %}
    <style>
        .django-ckeditor-widget{
            width: 100%;
        }
        form p{
            display: none;
        }
    </style>
{% endblock %}

{% block sidebar %}
    <li class="menu-header">REPERTOIRE</li>
    {% if user.is_authenticated %}
    <li class="dropdown active">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i class="fas fa-folder"></i><span>Mes Documents</span></a>
        <ul class="dropdown-menu">
            {% for doc in user_documents %}
                <li {% if doc.id == document.id %} class="active" {% endif %} >
                    <a class="nav-link" href="{% url 'view_document' id=doc.id %}">
                        <i class="material-icons">insert_drive_file</i>
                        <span>{{ doc.title }}</span>
                        <i class="fas fa-trash text-danger delete-icon" data-document-id="{{ doc.id }}"></i>
                        <i class="fas fa-paint-brush text-success rename-icon" data-document-id="{{ doc.id }}"></i>
                    </a>                    
                </li>
            {% endfor %}
        </ul>
    </li>
    
    {% endif %}
{% endblock %}

{% block template %}
   <form method="post" action="{% url 'view_document' id=document.id %}">
        {% csrf_token %}    
        {{ documentForm.media }}
        {{ documentForm.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    </form>
{% endblock %}

{% block script %}
<script>
    // Fonction pour la suppression
    function deleteDocument(documentId) {
       alert("ok ok");
    }
</script>

{% endblock %}